<head>
  <style>
  @media (max-width: 600px) {
  #web-dev {
    float: none;
    display: inline-block;
  }
}
</style>
<body>
<header> 
  <ul>
    <li><span id='name'>Shawn David Broukhim</span></li> 
    <li><span id='web-dev'>Full Stack Web Developer</span></li>
<!--     <li><span id='music'>Music Composer</span></li> -->
  </ul>
      
      
      
  

</header>

<div id='content'>
 
</div>
  <div id='box-1'>
  </div>


  <div id='about'>
  </div>


<footer>
  <ul>
    <li><img src='/assets/twitter.png' /></li>
      <li><img src='/assets/github.png' /></li>
      <li><img src='/assets/soundcloud.png' /></li>
  </ul>



</footer>
</body>

