<header> 
  <ul>
    <li><span id='name'>Shawn David Broukhim</span></li> 
<!--     <li><span id='web-dev'>Projects</span></li> -->
  </ul>
</header>

<div id='content'>
  <div id='portrait'></div>
  <div id='about'><span><h1>Hi.</h1>  I'm Shawn.</br></br>A Web Developer, Hacker/Tinkerer, & Composer (among other things).</br></br>  I'm looking for the opportunity to collaborate and solve problems.</br><h1>Projects:</h1>
  <a href="http://tangentapp.herokuapp.com">Tangent</a></br>
  <a href="http://colorpage.herokuapp.com">Color Page</a></br>
  <a href="http://oldnewsapp.herokuapp.com/">Old News</a></br>
  <a href="https://soundcloud.com/sdbro">sounds</a></br>
  <h1>Contact:</h1>
  <a href="https://twitter.com/shawnbro_0/">@shawnbro_0</a></br>
  <a href="https://github.com/shawnbro/">github</a></br>
  </div>
</div>

<!-- <footer>
</footer> -->

