@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

header {
  width: 100%;
  height: 6.5em;
  border-bottom: .09em solid #959992;
  font-family: "Open Sans";
  font-weight: bold;
  background-color: #FFFFFD;
}

span {
  display: inline-block;
  padding: 40px;
  text-align: left;
  z-index: 14;
  margin: 0;
  font-weight: 100;
  color: black;
}

div#content {
  background-size: cover;
  width: 100%;
  height: 596px;
  position: absolute;
  margin: 0 auto;
  background-color: #FFFFFD;
}


/*#name:hover {
  background-color: #CC708A;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}*/
/*
#web-dev {
  float: right;
  border-left: .09em solid #959992 ;
}
*/
/*#web-dev:hover {
  background-color: #8BCCA6;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
*/

ul {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0;
}

body > footer > ul > li > img {
position: relative;
width: 24px;
}

/*@media screen and (max-width: 512px){
    body {
      display: block;
    }
}
*/
footer {
  width: 100%;
  height: 6.5em;
  position: fixed;
  bottom: 0;
  border-top: .09em solid #959992;
  background-color: #FFFFFD;
/*  border: 2px solid black;*/
}

#portrait {
  float: left;
  margin: 2em;
  padding-left: 2em;
  padding-top: 2em;
  background-image: url('headshot_2.png');
  width: 250px;
  height: 250px;
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border: .09em solid #959992;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 100%;
  opacity: 1;

}

#about {
  font-family: 'open sans', 'sans serif', 'helvetica', 'arial';
  width: 25%;
  height: 50%;
  float: right;
  border: 2px solid red;
  display: inline;
  border: none;
  margin-right: 50%
}

#about span {
  border: none;
}

#projects {
  border: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
  font-weight:lighter;

}
